* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1500px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 3px solid #023274;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023274;
    padding: 6px;
    border-radius: 3px;
    position: relative;
    height: 40px;
}

header h1 {
    font-size: 24px;
    color: white;
    text-align: center;
    flex: 1;
}

#logo {
    position: absolute;
    right: 10px;
    height: 40px;
    width: 150px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

section {
    border: 1px solid #023274;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

section h2 {
    background-color: #CCCCCC;
    color: #333;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #023274;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d66;
}

.results {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 3px;
    margin-top: 10px;
}

.search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search input {
    flex: 1;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-group button {
    flex: 1;
}

#results h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.readonly-input {
    background-color: #e6e6e6;
}

.search-bar {
    margin-bottom: 20px;
    margin-top: 20px
}

.search-bar button {
    margin-left: 10px;
}

#pieceInfo p,
#costs p {
    margin: 10px 0;
    line-height: 1.5;
}

#pieceInfo strong,
#costs strong {
    color: #006080;
}

/* Media Queries para responsividade */
@media (max-width: 1200px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    header h1 {
        font-size: 20px;
    }

    .container {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 18px;
    }

    #logo {
        height: 30px;
        width: 120px;
    }

    button {
        padding: 8px;
    }

    .search-bar button {
        margin-left: 5px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    header {
        padding: 4px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 16px;
    }

    .button-group {
        flex-direction: column;
    }

    .button-group button {
        margin-bottom: 10px;
        width: 100%;
    }
}